@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

.a {
  -webkit-animation: entry 0.5s ease-in-out both;
  animation: entry 0.5s ease-in-out both;
}
@-webkit-keyframes entry {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes entry {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* header-section */

.head-section {
  background-color: #ea97d5;
  height: 8vh;
  width: 100vw;
  position: sticky;
}
#logo {
  height: 40px;
  width: 40px;
  padding: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* navbar */
.bg {
  position: absolute;
  height: 92vh;
  width: 100vw;
  /* border: 2px solid black; */
  background: url("/img/9344342.jpg") center center/cover;
  background-repeat: no-repeat;
  background-size: 100% 105%;
  filter: brightness(30%);
  z-index: -1;
}

.mid {
  /* border: 2px solid black; */
  position: absolute;
  margin-left: 51%;
  margin-top: 5px;
  z-index: 1;
}

.mid li {
  display: inline-block;
}

.mid li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding-left: 25px;
}
.mid li a:hover {
  color: #000000;
}

.nav-bar h1 {
  position: absolute;
  font-size: 50px;
  margin: 30% 320px;
  text-align: center;
  z-index: 1;
  color: rgb(255, 255, 255);
  /* border: 2px solid black; */
  -webkit-animation: ngo 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: ngo 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;

  width: 35%;
}
@-webkit-keyframes ngo {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ngo {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.slogan p {
  /* border: 2px solid black; */
  position: absolute;
  font-size: 30px;
  font-weight: 500;
  margin: 36% auto;
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 40%;
  color: #ea97d5;
  -webkit-animation: zooming 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: zooming 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@-webkit-keyframes zooming {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes zooming {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* CARDS */
.cards {
  background-color: #ea97d5;
  height: 100vh;
  width: 100vw;
}

.animals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cards h2 {
  /* border: 2px solid rgb(255, 0, 0); */
  color: #ffffff;
  margin-top: 604px;
  font-size: 25px;
  padding-top: 10px;
  height: 50px;
  width: 100vw;
  text-align: center;
  -webkit-animation: h22 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: h22 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes h22 {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes h22 {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.card1 {
  margin: 10px 15px 0 15px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 2px;
  background-color: #ffffff;
  height: 320px;
  width: 150px;
  text-align: center;
  -webkit-box-shadow: 7px 7px 30px -10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 7px 7px 30px -10px rgba(0, 0, 0, 0.6);
  box-shadow: 7px 7px 30px -10px rgba(0, 0, 0, 0.6);
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.card1 .container
{
  margin: 3px;
  padding: 0;
}

.img {
  width: 150px;
}

.info
{
/* border: 2px solid rgb(255, 0, 0); */
margin:30px;
height: 200px;
}


